.flex-container {
    display:flex;
    background-color: grey;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }
    @media (max-width: 600px) {
        .flex-container {
            flex-direction: column;
            justify-content: flex-start; 
            align-items: center; 
        }
    }


.flex-item {
background-color: aqua;
padding: 300px;
margin: 50px;

}