.flex-container {
    display:flex;
    background-color: grey;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    }


.flex-item {
background-color: aqua;
padding: 300px;
margin: 50px;

}