.flex-container {
    display:flex;
    background-color: grey;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    }

 .flex-item {
background-color: aqua;
padding: 100px;
margin: 20px;
}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        background-color: red;
        justify-content: center; 
        align-items: center;

    }
}
